.chat-main

  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__member-list
        - @group.users.each do |user|
          %li.main-header__left-box__member-list__member
            = user.name
    
    .main-header__edit-btn
      = link_to edit_group_path(@group), class: "main-header__edit-btn__font"  do
        .main-header__edit-btn__font__edit
          Edit

  .messages
    = render @messages
    .message
      .message__upper-info
        %p.message__upper-info__talker 
        %p.message__upper-info__date 
      .message__text これから始めましょう。
      
  .form
    = form_for [@group, @message] do |f|
      .form__new_message
        .form__new_message__inputbox 
          = f.text_field :content, class: 'form__new_message__inputbox__text', placeholder: 'type a message' 
          = f.label :image, class: 'form__new_message__inputbox__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'form__new_message__inputbox__image__file'
        = f.submit 'Send', class: 'form__new_message__submit-btn'
            
